footer {
    position: sticky;
}

.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:#333A44; 
    background-size: cover;
    padding: 35px 165px 32px 168px;  
}

.bottom-left {
    display: flex;
    align-items: center;
}
.social-media-list {
    display: flex;
    gap: 24px;
}

.social-media {
    margin-left: 57px;
}

.bottom-img {
    margin-right: 58px;
}

